<h1>Pokemon Catalogue</h1>
<button (click)="goToLoginPage()" class="btn btn-primary">Change User</button>&nbsp;
<button (click)="goToTrainerPage()" class="btn btn-primary">Trainer Page</button>
<ul class="pokemon-list">
    <app-pokemon-list-item
        *ngFor="let poke of pokemon" 
        [pokemon]="poke">
    </app-pokemon-list-item>
</ul>