<main class="main-content">
    <h1>Trainer Page</h1>
    <button (click)="goToLoginPage()" class="btn btn-primary">Change User</button>&nbsp;
    <button (click)="goToCataloguePage()" class="btn btn-primary">Catalogue Page</button>
    <h5>Collected Pokemon:</h5>

    <ul class="contact-list" *ngFor="let poke of pokemon">
        <app-pokemon-list-item
            *ngIf="poke.clicked === true" 
            [pokemon]="poke">
        </app-pokemon-list-item>
    </ul>

</main>