<div class="container">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <fieldset class="mb-3">
            <label class="form-label" for="name">Username</label>
            <input class="form-control" 
                type="text" 
                id="name" 
                placeholder="Username" 
                name="username"
                ngModel>
        </fieldset>

        <button type="submit" class="btn btn-primary">Login</button>
        
    </form>
</div>