<main class="m-3 card">
    <li (click)="onPokemonClicked()">
        <h4>{{ pokemon?.name }}</h4>
        <img [src]="pokemon?.imageUrl" alt="Picture not found">
        <section *ngIf="pokemon?.clicked === true">
            <img src="assets/pokeball.png" alt="pokeball" width="20">
        </section>
    </li>
</main>